[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "mas-framework"
dynamic = ["version"]
authors = [{ name = "Lemuel Boyce", email = "lemuel@vokality.com" }]
keywords = ["multi-agent", "AI", "agent", "framework"]
description = "A Multi-Agent System Framework"
requires-python = ">=3.13"
dependencies = [
    "pydantic>=2.12.3",
    "pydantic-settings>=2.0.0",
    "grpcio>=1.76.0",
    "protobuf>=6.33.4",
    "redis[hiredis]>=5.2.1",
    "pyyaml>=6.0",
]
readme = "README.md"
license = { text = "MIT" }
classifiers = [
    "Development Status :: 1 - Planning",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.14",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

[tool.ruff]
line-length = 88
exclude = ["src/mas/_proto"]

[tool.ty.src]
exclude = ["./tests/", "./examples/", "./src/mas/_proto/"]

[tool.ty.rules]

[tool.ty.environment]
root = ["./src/"]

[tool.basedpyright]
pythonVersion = "3.14"
pythonPlatform = "All"
typeCheckingMode = "strict"
exclude = ["app/z/**", "examples/**"]
extraPaths = []
venvPath = "."
venv = ".venv"
ignore = ["**tests/**", "**/.venv/**", "**/site-packages/**"]
reportMissingImports = "error"
reportMissingTypeStubs = false
enableReachabilityAnalysis = true
reportUnusedFunction = "warning"
reportUnusedVariable = "warning"
reportDuplicateImport = "warning"
reportUnnecessaryIsInstance = "warning"
reportUnnecessaryCast = "error"
reportUnnecessaryComparison = "warning"
reportImplicitOverride = "warning"

[tool.hatch.version]
path = "src/mas/__version__.py"

[tool.hatch.build.targets.wheel]
packages = ["src/mas"]

[dependency-groups]
dev = [
    "pytest>=8.3.3",
    "pytest-asyncio>=0.24.0",
    "pytest-cov>=4.1.0",
    "ruff>=0.14.3",
    "pytest-timeout>=2.3.1",
    "openai>=2.6.1",
    "pydantic-ai>=1.10.0",
    "types-redis>=4.6.0.20241004",
    "grpcio-tools>=1.76.0",
    "types-protobuf>=6.32.1.20251210",
    "textual>=6.6.0",
    "textual-dev>=1.8.0",
    "ty>=0.0.8",
]
